div {
  background-color: whitesmoke
}


p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000;
}

h5 {
  color: rgb(82, 184, 35);
}

hr {
  border: solid;
}

